In [ ]:
import pandas as pd

# Load dataset
data = pd.read_csv("/content/Titanic-Dataset.csv")
#data = pd.read_csv("student_data.csv")

# Display numerical statistics
print("Statistical Summary of Numerical Data:")
print(data.describe())

Statistical Summary of Numerical Data:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
print(data[['Math', 'Science', 'English']].describe())

            Math    Science    English
count  50.000000  50.000000  50.000000
mean   65.000000  68.000000  69.400000
std     7.142857   7.142857   7.159979
min    55.000000  58.000000  60.000000
25%    60.000000  63.000000  64.000000
50%    65.000000  68.000000  69.000000
75%    70.000000  73.000000  74.000000
max    75.000000  78.000000  80.000000

In [ ]:
import pandas as pd

# Load dataset
data = pd.read_csv("/content/student_data (2).csv")
# Display categorical column values
print("Gender Distribution:")
print(data['Gender'].value_counts())

print("\nDepartment Distribution:")
print(data['Department'].value_counts())

Gender Distribution:
Gender
Male      25
Female    25
Name: count, dtype: int64

Department Distribution:
Department
CSE    20
ECE    20
EEE    10
Name: count, dtype: int64

In [ ]:
import pandas as pd

# Load dataset
data = pd.read_csv("/content/student_data (2).csv")

# Check missing values
print("Missing Values in Each Column:")
print(data.isnull().sum())

# Check duplicate records
print("\nNumber of Duplicate Rows:")
print(data.duplicated().sum())

Missing Values in Each Column:
RollNo        0
Math          0
Science       0
English       0
Gender        0
Department    0
dtype: int64

Number of Duplicate Rows:
0

In [ ]:
# Fill missing numerical values with mean
data.fillna(data.mean(numeric_only=True), inplace=True)


# Remove duplicate rows
data.drop_duplicates(inplace=True)

print("Data after cleaning:")
print(data.isnull().sum())

Data after cleaning:
RollNo        0
Math          0
Science       0
English       0
Gender        0
Department    0
dtype: int64

In [ ]:
# One-Hot Encoding
encoded_data = pd.get_dummies(data, columns=['Gender', 'Department'])

print("Encoded Dataset:")
print(encoded_data.head())

Encoded Dataset:
   RollNo  Math  Science  English  Gender_Female  Gender_Male  Department_CSE  \
0       1    55       58       60          False         True            True
1       2    60       63       64           True        False           False
2       3    65       68       69          False         True           False
3       4    70       73       74           True        False            True
4       5    75       78       80          False         True           False

   Department_ECE  Department_EEE
0           False           False
1            True           False
2           False            True
3           False           False
4            True           False

In [ ]:
import pandas as pd

# Load dataset
data = pd.read_csv("/content/student_data (2).csv")

print("Missing values BEFORE handling:")
print(data.isnull().sum())

# Identify numerical and categorical columns
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

# Fill numerical columns with mean
for col in numerical_cols:
    data[col].fillna(data[col].mean(), inplace=True)

# Fill categorical columns with mode
for col in categorical_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

print("\nMissing values AFTER handling:")
print(data.isnull().sum())

Missing values BEFORE handling:
RollNo        0
Math          0
Science       0
English       0
Gender        0
Department    0
dtype: int64

Missing values AFTER handling:
RollNo        0
Math          0
Science       0
English       0
Gender        0
Department    0
dtype: int64

/tmp/ipython-input-3270579266.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
/tmp/ipython-input-3270579266.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)